[submodule "modules/org-mode"]
	path = modules/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "modules/paredit"]
	path = modules/paredit
	url = http://mumble.net/~campbell/git/paredit.git
[submodule "modules/powerline"]
	path = modules/powerline
	url = git://github.com/milkypostman/powerline.git
[submodule "emacs-jedi"]
	path = emacs-jedi
	url = git://github.com/tkf/emacs-jedi.git
[submodule "modules/jedi"]
	path = modules/jedi
	url = git://github.com/tkf/emacs-jedi.git
[submodule "modules/epc"]
	path = modules/epc
	url = git://github.com/kiwanami/emacs-epc.git
[submodule "modules/deferred"]
	path = modules/deferred
	url = git://github.com/kiwanami/emacs-deferred.git
[submodule "modules/ctable"]
	path = modules/ctable
	url = git://github.com/kiwanami/emacs-ctable.git
[submodule "modules/auto-complete"]
	path = modules/auto-complete
	url = git://github.com/auto-complete/auto-complete.git
[submodule "modules/popup"]
	path = modules/popup
	url = git://github.com/auto-complete/popup-el.git
[submodule "modules/ess-site"]
	path = modules/ess-site
	url = git://github.com/emacs-ess/ESS.git
[submodule "modules/haskell-mode"]
	path = modules/haskell-mode
	url = git://github.com/haskell/haskell-mode.git
[submodule "modules/clojure-mode"]
	path = modules/clojure-mode
	url = git://github.com/clojure-emacs/clojure-mode.git
[submodule "modules/cider"]
	path = modules/cider
	url = git://github.com/clojure-emacs/cider.git
[submodule "modules/pkg-info"]
	path = modules/pkg-info
	url = git://github.com/lunaryorn/pkg-info.el.git
[submodule "modules/dash"]
	path = modules/dash
	url = git://github.com/magnars/dash.el.git
[submodule "modules/apl"]
	path = modules/apl
	url = git://github.com/lokedhs/gnu-apl-mode.git
[submodule "modules/inf-ruby"]
	path = modules/inf-ruby
	url = git://github.com/nonsequitur/inf-ruby.git
[submodule "modules/org-bullets"]
	path = modules/org-bullets
	url = git://github.com/sabof/org-bullets.git
[submodule "modules/magit"]
	path = modules/magit
	url = git://github.com/sabof/magit.git
[submodule "modules/picolisp-mode"]
	path = modules/picolisp-mode
	url = git://github.com/tj64/picolisp-mode.git
[submodule "modules/elm-mode"]
	path = modules/elm-mode
	url = git://github.com/jcollard/elm-mode.git
[submodule "modules/js2-mode"]
	path = modules/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "modules/emacs-web-server"]
	path = modules/emacs-web-server
	url = https://github.com/skeeto/emacs-web-server.git
[submodule "modules/skewer-mode"]
	path = modules/skewer-mode
	url = https://github.com/skeeto/skewer-mode.git
[submodule "modules/org-reveal"]
	path = modules/org-reveal
	url = https://github.com/yjwen/org-reveal.git
[submodule "modules/elixir-mode"]
	path = modules/elixir-mode
	url = git://github.com/elixir-lang/emacs-elixir.git
[submodule "modules/company-mode"]
	path = modules/company
	url = git://github.com/company-mode/company-mode.git
[submodule "modules/alchemist"]
	path = modules/alchemist
	url = git://github.com/tonini/alchemist.el
[submodule "modules/hightlight-indentation"]
	path = modules/hightlight-indentation
	url = git://github.com/antonj/Highlight-Indentation-for-Emacs.git
[submodule "modules/highlight-indentation"]
	path = modules/highlight-indentation
	url = git://github.com/antonj/Highlight-Indentation-for-Emacs.git
[submodule "modules/calfw"]
	path = modules/calfw
	url = git://github.com/kiwanami/emacs-calfw.git
[submodule "modules/helm"]
	path = modules/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "modules/projectile"]
	path = modules/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "modules/async"]
	path = modules/async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "modules/golden-ratio"]
	path = modules/golden-ratio
	url = https://github.com/roman/golden-ratio.el.git
[submodule "color-theme/monokai"]
	path = color-theme/monokai
	url = https://github.com/oneKelvinSmith/monokai-emacs.git
[submodule "color-theme/assemblage"]
	path = color-theme/assemblage
	url = https://github.com/jasonm23/emacs-assemblage-theme.git
[submodule "modules/emacs-git-gutter"]
	path = modules/emacs-git-gutter
	url = https://github.com/syohex/emacs-git-gutter.git
[submodule "modules/flymake"]
	path = modules/flymake
	url = https://github.com/illusori/emacs-flymake.git
