[submodule "extentions/coffee-mode"]
	path = extensions/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "extensions/shen-mode"]
	path = extensions/shen-mode
	url = git://github.com/eschulte/shen-mode.git
[submodule "extensions/scss-mode"]
	path = extensions/scss-mode
	url = git://github.com/antonj/scss-mode.git
[submodule "extensions/smex"]
	path = extensions/smex
	url = git://github.com/nonsequitur/smex.git
[submodule "extensions/org-mode"]
	path = extensions/org-mode
	url = git://orgmode.org/org-mode.git
