[submodule "modules/org-mode"]
	path = modules/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "modules/paredit"]
	path = modules/paredit
	url = http://mumble.net/~campbell/git/paredit.git
[submodule "color-theme/sunburst"]
	path = color-theme/sunburst
	url = git://github.com/neomantic/Emacs-Sunburst-Color-Theme.git
[submodule "modules/powerline"]
	path = modules/powerline
	url = git://github.com/milkypostman/powerline.git
[submodule "color-theme/almost-nonokai"]
	path = color-theme/almost-nonokai
	url = git://github.com/lut4rp/almost-monokai.git
[submodule "color-theme/monokai"]
	path = color-theme/monokai
	url = git://github.com/lvillani/el-monokai-theme.git
[submodule "ESS"]
	path = ESS
	url = https://github.com/emacs-ess/ESS.git
[submodule "emacs-jedi"]
	path = emacs-jedi
	url = git://github.com/tkf/emacs-jedi.git
[submodule "modules/jedi"]
	path = modules/jedi
	url = git://github.com/tkf/emacs-jedi.git
[submodule "modules/epc"]
	path = modules/epc
	url = git://github.com/kiwanami/emacs-epc.git
[submodule "modules/deferred"]
	path = modules/deferred
	url = git://github.com/kiwanami/emacs-deferred.git
[submodule "modules/ctable"]
	path = modules/ctable
	url = git://github.com/kiwanami/emacs-ctable.git
[submodule "modules/auto-complete"]
	path = modules/auto-complete
	url = git://github.com/auto-complete/auto-complete.git
[submodule "modules/popup"]
	path = modules/popup
	url = git://github.com/auto-complete/popup-el.git
